html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  flex-wrap: wrap;
}
.left-part {
  margin-right: 100px;
  margin-left: 10px;
  display: flex;
  align-self: stretch;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.location-image {

  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  height: 600px;
  width: 800px;
  display: flex;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.rigt-part-form {
  background-color: #383e46;
  width: 50%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.farm-content {
  text-transform: capitalize;
  width: 50%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  gap: 19%;
}
.circle-step {
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.circle-step-black {
  background-color: #030303;
}

.circle-step-green {
  background-color: green;
}

.steps-bar {
  display: flex;
  justify-content: space-evenly;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-circle {
  display: flex;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.outer-circle-black {
  border: 2px black solid;
}
.outer-circle-green {
  border: 2px green solid;
}
.line {
  background-color: gray;
  height: px;
  width: 100%;
}
.line-gray {
  border: 1px gray solid;
}
.line-red {
  border: 1px red solid;
}
.step-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  justify-content: center;
}
.steps-title {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

/* fouad edit */
.button-next {
  cursor: pointer;
}

.form-body {
  align-self: stretch;
  padding-left: 10%;
  padding-right: 10%;
}
.label-form {
  display: block;
  text-align: center;
  color: gray;
  font-size: 20px;
}
.input-form {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input-form:focus {
  border: 3px solid #555;
}
.center-submit {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}
.button-next {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background-color: #939aad;
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.button-next:hover {
  background-color: #383e46;
}

.h1-style {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.center-submit-hide {
  visibility: hidden;
  display: flex;
  margin-top: 12px;
  justify-content: center;
}
.error-first-input {
  color: red;
  font-size: 15px;
}
.pick-picture {
  background-color: black;
  color: white;
  border: none;
  box-sizing: border-box;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0;
  margin-left: -7px;
  cursor: pointer;
}

#picture-label {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: start;
  position: absolute;
  top: 7px;
  left: 100px;
}
#pick-picture-part {
  position: relative;
  border: 1px solid #939aad;
  height: auto;
  margin: 0;
  padding: 0;
}

span {
  color: #939aad;
  text-align: center;
}

img {
  animation-name: upDown;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  width: 500px;
  height: 500px;
}

@keyframes upDown {
  from {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
  to {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
  }
}
.label-form {
  width: 100%;
  padding-bottom: 5px;
  color: #000000b0;
  font-weight: bold;
}

#input-form1,
#input-form2 {
  padding: 10px;
  border: none;
}
#input-form1:hover,
#input-form2:hover {
  border: 1px solid #939aad;
}
